# Laravel
/vendor
/node_modules
/public/storage
/storage/logs
/storage/framework
/storage/app/videos
/storage/app/public/videos
/public/build/
/venv/

# Environment
.env
.env.*

# IDE / OS
.vscode
.idea
.DS_Store

# Misc
npm-debug.log
yarn-error.log
